$gray: #A9A9A9;

#root {
    .login {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .login-contents {
            margin-top: 32px;

            .input {
                &>.title {
                    font-size: 12px;
                }

                .input {
                    input {
                        margin-top: 8px;
                        margin-bottom: 8px;
                        width: 272px;
                        height: 25px;
                        border-radius: 5px;
                        border: 1px solid $gray;
                    }
                }
            }
        }
        .login-btn {
            margin-bottom: 12px;
            width: 100%;
            height: 34px;
            font-size: 12px;
            border-radius: 5px;
            background-color: wheat;
            border: none;
            cursor: pointer;
        }
        .go-join {
            display: flex;
            column-gap: 8px;
            cursor: pointer;
        }
    }
}